<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Resume Maker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/javascript.js"></script>

</head>
<body>
<header class="h_color" id="head">
    <div class="text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <h2>RESUME MAKER</h2>
                        <p>Attractive resumes Download and Use Now!</p>
                    </div>
                    <div class="nav_button_right">
                         <a class="btn btn-primary" href="/messages">demande de contacts</a>
                        <a href="/consultation" class="btn btn-info">Consulter la base de données</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>

<section id="resume_1">
    <div class="container">
        <div class="resume_1">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h1 id="uname">Leopold Tahon</h1>
                        <!-- <p>It Project Manager</p>-->
                        <p style="text-align: justify" id="uabout">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
                <div class="col-md-3" style="float: left;">
                    <img src="../static/img/resume_1/about_us_icon.png" width="40px"><span style="padding: 12px;font-weight: 600">ABOUT ME</span>
                </div>
                <div class="col-md-9"
                     style="border-top: rgb(130, 146, 238) solid 1px;margin-top: 20px;float: right"></div>

                <div class="col-md-12" style="margin-top: 25px">
                    <div style="margin-bottom: 50px">
                        <div class="col-md-4" style="float: left;">
                            <img src="../static/img/resume_1/birthday.png" width="30px"><span
                                    style="padding: 12px;font-weight: 600" id="udob">May 07, 1998</span>
                        </div>
                        <div class="col-md-8" style="float: left;">
                            <img src="../static/img/resume_1/phone.png" width="30px"><span
                                    style="padding: 12px;font-weight: 600" id="uphnum">+91 9726 576 370</span>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4" style="float: left;">
                            <img src="../static/img/resume_1/location.png" width="30px"><span
                                    style="padding: 12px;font-weight: 600" id="ulocation">Surat, Gujarat</span>
                        </div>
                        <div class="col-md-8" style="float: left;">
                            <img src="../static/img/resume_1/email.png" width="30px"><span
                                    style="padding: 12px;font-weight: 600" id="uemail">bajajyash428@gmail.com</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top: 20px;padding: 10px">
                    <h5>Career Objectives</h5>
                    <p style="text-align: justify" id="ucareerobject">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>
                </div>

                <div class="col-md-3" style="float: left;margin-top: 20px">
                    <img src="../static/img/resume_1/education.png" width="40px"><span
                        style="padding: 12px;font-weight: 600">EDUCATION</span>
                </div>
                <div class="col-md-9"
                     style=" border-top: rgb(130, 146, 238) solid 1px;margin-top: 40px;float: right"></div>
                <div class="col-md-12">
                    <table id="education_data_table" style="width: 100%;margin-top: 12px">
                        <tr>
                            <td>
                                <span style='font-weight: 600;font-size: 20px'>B.Tech Computer Science
                                             </span> <br>Uka Tarsadia University</td>
                            <td>Graduate, March 2020</td>
                        </tr>
                    </table>
                </div>


                <div class="col-md-4" style="float: left;margin-top: 20px">
                    <img src="../static/img/resume_1/achiements.png" width="40px"><span
                        style="padding: 12px;font-weight: 600">ACHIEVEMENTS</span>
                </div>
                <div class="col-md-8"
                     style=" border-top: rgb(130, 146, 238) solid 1px;margin-top: 40px;float: right"></div>
                <div class="col-md-12" style="width: 100%;margin-top: 12px">
                    <ul id="achivements_data_li">
                        <li style="font-size:18px;margin-bottom: 5px">Developed or implemented new procedures or systems
                        </li>
                        <li style="font-size:18px;margin-bottom: 5px">Saved money for the company</li>
                    </ul>
                </div>

                <div class="col-md-4" style="float: left;margin-top: 20px">
                    <img src="../static/img/resume_1/computer.png" width="40px"><span
                        style="padding: 12px;font-weight: 600">PERSONAL SKILLS</span>
                </div>
                <div class="col-md-8"
                     style=" border-top: rgb(130, 146, 238) solid 1px;margin-top: 40px;float: right"></div>
                <div class="col-md-12" style="width: 100%;margin-top: 12px">
                    <ul id="skills_data_li">
                        <li style="font-size:18px;margin-bottom: 5px">Developed or implemented new procedures or systems
                        </li>
                        <li style="font-size:18px;margin-bottom: 5px">Saved money for the company</li>
                    </ul>
                </div>
                <div class="col-md-4" style="float: left;margin-top: 20px">
                    <img src="../static/img/resume_1/personal_info.png" width="40px"><span
                        style="padding: 12px;font-weight: 600">PERSONAL DETAILS</span>
                </div>
                <div class="col-md-8"
                     style=" border-top: rgb(130, 146, 238) solid 1px;margin-top: 40px;float: right"></div>
                <div class="col-md-12" style="margin-top: 12px">
                    <div style="width:50%;float: left;">
                        <p id="fathername">Father's Name   :</p>
                    </div>
                    <div style="width:50%;float: right;">
                        <p id="mothername">Mother's Name</p>
                    </div>
                    <p id="permanentaddress">Permanent Address    :    </p>
                </div>

                <div class="col-md-12" style="margin-top: 50px">
                    <h4>Declaration</h4>
                    <p>I, <span id="name_declaration"></span>, hereby declare that all the information provided above are correct and complete to the best of my knowledge and belief. I understand that if any time it is found that any information given is false, my appointment is liable to be cancelled.</p>
                </div>
                <div class="col-md-6" style="margin-top: 20px">
                    ____________________________<br>
                    <span id="n_declaration"></span>

                </div>
                <div class="col-md-6" style="margin-top: 20px">
                    <p id="dec_place" style="float: right">place</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../static/js/jquery-2.1.3.js"></script>
<script src="../static/js/my.js"></script>
</body>
</html>
